<div class="">
	<section style="padding-top:10px;margin-top:10px">
		<div class="profile-container">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<h1 class="center">Manage Tasks</h1>
					<p class="center">
						<small>
							You can manage your tasks here.
						</small>
					</p>
				</div>
			</div>
			
			<%= render partial: '/tasks/form' %>
			
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 padding-top-20">
					<div class="row">
						<div class="table-responsive center" id="task-listing">
							<%= render :partial => "/tasks/task_listing" %>
							
						</div>
						<div class="row">
						  <div class="col-md-12 no-padding center">
								<%= paginate @tasks, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered" if @tasks.present? %>
							</div>
						</div>
					</div>
				</div>
	</section>
</div>                    
